
.header{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 14px;
    position: relative;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    

}
.logo{
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@500&family=Roboto+Mono:ital,wght@0,100;0,200;0,400;1,100&family=Ubuntu:wght@700&display=swap');
    font-size: 38px;
    color: rgb(176, 8, 243);
    font-weight: 850;
    display: -webkit-flex;
    display: flex;
    font-family: 'Ubuntu', sans-serif !important;
}

.menu{
    display: -webkit-flex;
    display: flex;
    flex: 1;
    justify-content:flex-end;

    
}
.mobile-menu {
    display: none;
}

.web-menu {
    display: flex;
    display: -webkit-flex;
}

.menu-icon{
    display: flex;
        justify-content: flex-end;
        font-size: 30px;
}

@media only screen and (max-width: 720px){
    .mobile-menu {
        display: flex;
    }
    .web-menu {
        display: none;
    }
    .logo {
        font-size: 28px;
    }

}